body {
    font-family: sans-serif;
    display: block;
    margin: 0;
}

main {
    width: 100%;
    max-width: 1300px;
    margin-top: 50px;
    margin: 0 auto;
}

/* Barre de navigation */

nav {
    top: 0;
    display: flex;
    width: 100%;
    height: 50px;
    height: 50px;
    background-color: white;
    position: fixed;
}

.logo {
    margin: 5px;
}

.logo img {
    width: 35px;
    height: 40px;
    cursor: pointer;
}

.nav-links {
    display: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 15px;
}

nav > .bar {
    cursor: pointer;
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    width: 20px;
    height: 12px;
    margin-top: 19px;
    margin-right: 20px;
}


/* Page principale */

/* Animations */

button:hover {
    scale: 1.1;
    transition: all 0.3s;
}

.product-photo:hover { /* <--- J'ai piqué ça à Emery */
    transform: rotate(10deg);
    transition: all 0.3s;
}

.cadre:hover {
    scale: 1.05;
    transition: all 0.3s;
}

.cakeList p:hover {
    color:#933C24;
    scale: 1.05;
    transition: all 0.3s;
}

.gateaux img:hover {
    scale: 1.05;
    transition: all 0.3s;
}

.product:hover {
    scale: 1.05;
    transition: all 0.3s;
    color: #933C24;
}

/* Order */

.home {
    margin-top: 50px;
    background-image: url("img/home.png");
    background-repeat: no-repeat;
}


.orderBlock {
    margin-left: 21px;
}


.homeText > p {
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 20%;
    color: #E9BD8C;
    font-family: "Inter", sans-serif;
}

.homeText > h1 {
    font-size: 26px;
    margin-top: 0;
    color: #FFFFFF;
    font-family: "Sansita Swashed", sans-serif;
    font-weight: 400;
}

.orderButton {
    cursor: pointer;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 114px;
    height: 30px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    border: 1px #000000 solid;
    background-color: #933C24;
    color: #FFFFFF;
    font-weight: 600;
}

.produits > h2 {
    text-align: center;
    font-family: "Sansita Swashed", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.cadres {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

/* Base */

.cadre {
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-left: 17px;
    margin-right: 17px;
    width: 360px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.product-details {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.details-top {
    display: flex;
    align-content: row;
    justify-content: space-between;
}

.details-bottom {
    display: flex;
    align-content: row;
    justify-content: space-between;
    align-items: center;
}

.nom {
    color:white;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 100px;
}

.price {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.addToCart {
    cursor: pointer;
    justify-content: center;
    width: 80px;
    height: 44px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    border: 0;
    background-color: #933C24;
    color: #FFFFFF;
    font-weight: 500;
}

.i {
    width: 30px;
    height: 30px;
    margin-right: 7%;
    cursor: pointer;
}

/* Pain complet */

.painComplet > .product-photo {
    width: 43%;
    margin: 0 auto;
    padding-top: 15px;
}

/* Patisserie feuilletée */

.feuilletee > .product-photo {
    width: 50%;
    margin: 0 auto;
    padding-top: 25px;
}

/* Baguette de campagne */

.campagne > .product-photo {
    width: 70%;
    margin: 0 auto;
    padding-top: 5px;
}

/* Miche de pain blanc */

.pain_blanc > .product-photo {
    width: 45%;
    margin: 0 auto;
    padding-top: 20px;
}

/* Gateau pate feuilletée */

.gateau > .product-photo {
    width: 45%;
    margin: 0 auto;
    padding-top: 20px;
}

/* Miche de pain complet */

.miche_complet > .product-photo {
    width: 45%;
    margin: 0 auto;
    padding-top: 20px;
}

/* Reduction */

.reduction {
    margin-top: 30px;
    background-image: url('img/reduction_bg.png');
    width: 100%;
    height: 379px;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.reduction > h2 {
    font-family: "Sansita Swashed", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #933C24;
    padding: 10px;
    margin: 0;
}

.reduction > p {
    font-family: "Inter", sans-serif;
    color: #5D5D5D;
    font-size: 16px;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
}

.learnMore {
    cursor: pointer;
    justify-content: center;
    width: 177px;
    height: 58px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
    background-color: #933C24;
    color: #F9F6F1;
}

/* Découvrir */

.discover > h2 {
    text-align: center;
    font-family: "Sansita Swashed", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.cakeList {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-left: 16px;
    margin-right: 16px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: -5px;
}

.cakeList p {
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #5D5D5D;
    cursor: pointer
}

.line1 {
    margin-top: 0;
    margin-left: 20px;
    width: 70px;
    height: 6px;
    border-radius: 20px;
    background-color: #933C24;
}

.gateaux {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.gateaux img {
    width: 80%;
}

/* À propos */

.about {
    margin-top: 30px;
    background-image: url('img/about.png');
    width: 100%;
    height: 379px;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.about > h2 {
    font-family: "Sansita Swashed", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px;
    margin: 0;
}

.about > p {
    font-family: "Inter", sans-serif;
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
}

.readMore {
    cursor: pointer;
    justify-content: center;
    width: 177px;
    height: 58px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
    background-color: #933C24;
    color: #F9F6F1;
}

/* Petits Plaisirs */

.pleasures > h2 {
    text-align: center;
    font-family: "Sansita Swashed", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.pleasuresList {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.product p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.product img {
    width: 80%;
    cursor: pointer;
}

/* Pied de page */

footer {
    display: flex;
    flex-direction: column;
    background-image: url("img/footer.png");
}

.logo {
    align-self: center;
    width: 114px;
    margin-top: 10px;
}

.followUs > h2 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #E9BD8C;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}

.social img {
    cursor: pointer;
}

.footer-content-wrapper {
    display: flex;
    flex-direction: column;
}

.footerBlock h2 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color : #E9BD8C;
}

.content {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-left: 40px;
}

.content p {
    cursor: pointer;
}

.nouveautes {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infos {
    display: flex;
}

.infos img {
    width: 40%;
    height: 40%;
}

.productName {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 20px;
    margin-top: 0;
}

.date {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #E9BD8C;
    margin-left: 20px;
    margin-bottom: 0;
}

.copyright {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #737373;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

